librosa==0.10.2
matplotlib==3.7.5
numpy==1.24.4
scipy==1.10.1
ipykernel==6.29.4
speechbrain @ git+https://github.com/speechbrain/speechbrain.git@5beaece0b4cdcce18f303cbb1f5f04b0a879dca2
streamlit==1.33.0
streamlit-audiorec==0.1.3
scikit-learn==1.3.2
